/*-----------------------------------*/
/*--- IMPORT STYLES FOR FASTPAGES ---*/
@import "minima/fastpages-styles";   



/*-----------------------------------*/
/*----- ADD YOUR STYLES BELOW -------*/

// If you want to turn off dark background for syntax highlighting, comment or delete the below line.
@import "minima/fastpages-dracula-highlight"; 

/* Import Rock Salt Font for Title */
@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');

// Customize the width of the content area
// can be set as "px" or "%"
$content-width:    1200px;
$on-palm:          800px;
$on-laptop:        1000px;
$on-medium:        1200px;
$on-large:         1200px;


/*Change Title Font Color and Size*/
.site-title, .site-title:visited {
    font-family: 'Rock Salt';
    color: black;
    font-size: 250%;
    margin-top: 10%;
    line-height: unset;
    border: none;
}

/*Customize site-header and border*/
header.site-header {
    border-top: none;
    min-height: 85px;
    border-bottom: 2px solid black;
    line-height: unset;
}

/* Adjust Size of h1 Header */
h1.post-title, h1#posts   { font-size: 175%;
}

/* Change size of post content */
.post-content p, .post-content li {
    font-size: 105%;
    color: #515151;
 }

 /* Change navigation links in header */
 .page-link, .page-link:visited {
    font-weight: normal;
    font-size: 105%;
}



